.App {
  text-align: center;
  #joke-selector{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  
  }
  #joke-selector  {
    display: block !important;
  }
  #joke-selector .css-2b097c-container {
    width: 200px;
    margin: 0 auto;
  }
  #categories{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
    li{
      background: #D8D8D8;
      color: #099;
      padding: 10px 20px;
      margin:2px;
    }
  }
  #nav-container{
    max-width: 80%;
    margin: 0 auto;
    background: #099;
    ul{
      overflow: hidden;
      padding: 0;
      display: flex;
      margin: 0;
      li {
        list-style:none;
        padding: 20px 30px;
        a{
        text-decoration: none;
        padding: 20px 30px;
        color: #fff;
        transition: 0.3s linear all;
        &:hover{
          background: #f90;
          cursor: pointer;
        }
  
      } 
    }
    }
}

#getjoke-btn{
  background: #099;
  padding: 20px 30px;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  margin: 20px 0px;
  transition: 0.3s linear all;
  &:hover{
    color: #099;
    background: #fff;
    border: 1px solid #099;
    cursor: pointer;

  }
}
}
